<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <a href="/category/add" class="btn btn-outline-primary">Add Category</a>
                <a href="/category/list" class="btn btn-outline-primary">List Category</a>
            </div>
        </div>
    </div>
</section>
