<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="index3.html" class="brand-link">
    <img
      src="/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: .8"
    />
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a href="/user/profile" class="d-block"></a>
      </div>
    </div>

    <nav class="mt-2">
      <p style="color: #c2c7d0;">Main</p>
      <ul class="nav nav-pills nav-sidebar flex-column">
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
      </ul>
    </nav>
    <nav class="mt-2">
      <p style="color: #c2c7d0;">Management</p>
      <ul class="nav nav-pills nav-sidebar flex-column">
        <li class="nav-item">
          <a href="/user" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>Users</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/product" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>Products</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/articles" class="nav-link">
            <i class="nav-icon fas fa-newspaper"></i>
            <p>Articles</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/category" class="nav-link">
            <i class="nav-icon fas fa-newspaper"></i>
            <p>Category</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/messages" class="nav-link">
            <i class="nav-icon fas fa-newspaper"></i>
            <p>Messages</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>