
.square-css {
    width: 100px;
    height: 100px;
    background-color: #858385;
    display: inline-block;
    margin: 10px;
}

.red{
     background-color: red;
 }
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}