<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">User1</h1>

            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: red; margin: 0; color: white;"
                     :style="{width: user1 + '%'}">
                    {{ user1 }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">User2</h1>

            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: red; margin: 0; color: white;"
                     :style="{width: user2 + '%'}">
                    {{ user2 }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!running">
        <div class="small-12 columns">
            <button id="start-game" class="btn" @click="runningApp">RUN</button>
        </div>
    </section>
    <section class="row controls" v-else="">
        <div class="small-12 columns">
            <button id="attack" class="btn" @click="action">ACTION</button>
            <button id="special-attack" @click="specificAction" class="btn">SPECIAL ACTION</button>
            <button id="heal" class="btn" @click="reserve">RESERVE</button>
            <button id="give-up" class="btn" @click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">
            <ul>
                <li v-for="turn in turns">
                    {{ turn.textLog }}
                </li>
            </ul>
        </div>
    </section>
</div>

<link rel="stylesheet" href="/css/admin/product/app.css"/>
<link rel="stylesheet" href="/css/admin/product/foundation.min.css"/>
<script type="module" src="/js/admin/product/interactive.js"></script>